**Program 1**

In [3]:
revenue=[120000, 135000, 128000,
142000, 150000]

revenue.sort()

print(f"The minimum revenue is {revenue[0]}")
print(f"The maximum revenue is {revenue[-1]}")

print(f"Difference between highest and lowest revenue is {revenue[-1] -revenue[0]}")

The minimum revenue is 120000
The maximum revenue is 150000
Difference between highest and lowest revenue is 30000

**Program 2**

In [5]:
account = ('Asha', 'Savings', 56000, 'KCH')
name, account_type, balance, branch = account
print(f"{name} has ₹{balance} in her {account_type} account (Branch: {branch})")

Asha has ₹56000 in her Savings account (Branch: KCH)

**Program 3**

In [6]:
item =['45000', '56000', '38000']
item1=int(item[0])
item2=int(item[1])
item3=int(item[2])

print(f"Sum : {item1+item2+item3}")

Sum : 139000

**Program 4**

In [10]:
location= ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']
location[3]='Hyderabad'
reversed_cities = location[::-1]
print(reversed_cities)

['Pune', 'Hyderabad', 'Mumbai', 'Chennai', 'Kochi']

**Program 5**

In [11]:
interest_2024 = (7.1, 7.3, 7.2)
interest_2025 = (7.4, 7.5)
combined = interest_2024 + interest_2025
average = sum(combined) / len(combined)
print(average)

7.3

**Program 6**

In [13]:
branch_id = 'TVM-FIN-2025'
branch_code = branch_id.split('-')
print(branch_code[0], branch_code[2])

TVM 2025

**Program 7**

In [14]:
transactions = [10000, -2000, 5000, -1500, 3000]

deposits = transactions[0] + transactions[2] + transactions[4]
withdrawals = transactions[1] + transactions[3]

print("Deposits:", deposits)
print("Withdrawals:", withdrawals)

Deposits: 18000
Withdrawals: -3500

**Program 8**

In [15]:
name = 'John Doe'
balance = 72500

message = f"{name.title()} has a balance of ₹{balance}"
print(message)

John Doe has a balance of ₹72500

**Program 9**

In [16]:
customer = ('Kiran', 'Loan', 80000, 7.5)

principal = customer[2]
rate = customer[3]
time = 1

simple_interest = (principal * rate * time) / 100
total_amount = principal + simple_interest

print(f"Total amount payable after 1 year: ₹{total_amount}")

Total amount payable after 1 year: ₹86000.0

**Program 10**

In [17]:
branches = ['Kochi', 'Chennai', 'Mumbai']
profits = [120000, 95000, 134000]

branch_profit_pairs = [
    (branches[0], profits[0]),
    (branches[1], profits[1]),
    (branches[2], profits[2])
]

print(branch_profit_pairs)

[('Kochi', 120000), ('Chennai', 95000), ('Mumbai', 134000)]

**Program 11**

In [35]:
salaries = [45000, 56000, 38000, 62000, 54000]

top_three = sorted(salaries)

print(top_three[2],top_three[3],top_three[4])

54000 56000 62000

**Program 12**

In [36]:
exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9)
rates_list = list(exchange_rates)
rates_list[2] = 84.0
print(rates_list)

[83.2, 83.1, 84.0, 83.0, 82.9]

**Program 13**

In [37]:
customer_names = ['Asha', 'John', 'Meera']
balances = [56000, 72000, 65000]

formatted = f"{customer_names[0]}:{balances[0]},{customer_names[1]}:{balances[1]},{customer_names[2]}:{balances[2]}"
print(formatted)

Asha:56000,John:72000,Meera:65000

**Program 14**

In [38]:
account_info = ('Deepa', 'Savings', 98000)
name, account_type, balance = account_info
print(f"Account Holder {name} has ₹{balance} in {account_type} account")

Account Holder Deepa has ₹98000 in Savings account

**Program 15**

In [39]:
branches = [['Kochi', [120000, 135000]], ['Chennai', [95000, 110000]]]
chennai_collections = branches[1][1]
print(chennai_collections)

[95000, 110000]